.body_background{
    background-color: lightblue;
    border-width: 3px ;
    border-style: double; 
    border-radius: 20px;
    text-align: center;
    
}
canvas{
    background-color : white;
}